body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2C2F33; /* Gris comme l'application Discord */
    color: #43B581; /* Vert cool */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.maintenance-container {
    text-align: center;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin-top: 0.5em;
}
